<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong>{{action+" Menu"}}</strong></h1>
<div mat-dialog-content>
    <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
        <input placeholder="{{action}} Sr.No" matInput [(ngModel)]="local_data.position">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
        <input placeholder="{{action}} Name" matInput [(ngModel)]="local_data.name">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
        <input placeholder="{{action}} Price" matInput [(ngModel)]="local_data.price">
    </mat-form-field>
    <ng-template #elseTemplate>
        Sure to delete <b>{{local_data.name}}</b>?
    </ng-template>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="doAction()">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>