<?xml version="1.0" encoding="UTF-8" ?>



<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">


        <bean id="bankAccount1" class="com.capgemini.springAssignment.Q4.BankAccount">
            <constructor-arg type = "long" value="1171"/>
            <constructor-arg value="neeraj"/>
            <constructor-arg value="Saving"/>
            <constructor-arg type="double" value="15000"/>

        </bean>
    <bean id="bankAccount2" class="com.capgemini.springAssignment.Q3.BankAccount">
        <constructor-arg type = "long" value="1172"/>
        <constructor-arg value="Ramesh"/>
        <constructor-arg value="Current"/>
        <constructor-arg type="double" value="20000"/>

    </bean>

    <context:annotation-config/> <context:component-scan base-package="com.capgemini.springAssignment.Q4"/>
    <context:annotation-config/>


</beans>
