.inputField{
    margin-top: 10%;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 3px;
    
}

 .ButtonGroup{
    width: 40%;
   
}
.container{
    border: 4px solid black;
    margin-top: 10%;
    padding-bottom: 10%;
}

