<mat-grid-list cols="2" >
    <mat-grid-tile>
        <div>
            <mat-card class="menu-card">
                <mat-card-header>
                    <mat-card-title>Menu</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="/assets/img/menu.jpg" width="300" height="400"
                    alt="Photo of Menu">
        
                <mat-card-actions>
                    <button (click)="onClick()" mat-raised-button color="primary">Goto Menu</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-grid-tile>
  <mat-grid-tile>
    <div>
        <mat-card class="menu-card">
            <mat-card-header>
                <mat-card-title>Restaurant</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/img/restaurant.jpg"  width="400" height="400"
                alt="Photo of a Restaurant">
        
                <mat-card-actions>
                    <button (click)="onClick1()" mat-raised-button color="primary">Goto Restaurant</button>
                </mat-card-actions>
        </mat-card>
    </div>
  </mat-grid-tile>
    

</mat-grid-list>