.hero{
	width: 100%;
	height: 100vh;
	background-image: url(background.png);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}
.logo{
	width: 100px;
	cursor: pointer;
}
.navbar{
	width: 85%;
	height: 15%;
	margin:auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
button{
	color: #fbfcfd;
	padding: 10px 25px;
	background:transparent;
	border:1px solid #fff;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}
.content{
	 color: #fbfcfd;
	 position: absolute;
	 top: 50%;
	 left: 8%;
	 transform: translateY(-50%);
	 z-index: 2;
}
h1{
	font-size: 80px;
	margin: 10px 0 30px;  
}
.sidebar{
	width: 50px;
	height: 100vh;
	background: linear-gradient(#00545d, #000729);
	position: absolute;
	bottom: 0;
	top: 0;
}
.menu{
	display: block;
	width: 25px;
	cursor: pointer;
	padding: 10px 10px 10px;
}
.social-Links img, .useful-Links img{
	width: 25px;
	margin-top: 5px auto;
	cursor: pointer;
}
.social-Links{
	width: 50px;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.useful-Links{
	width: 50px;
	text-align: center;
	position: absolute;
	bottom: 25%;
}
.footer{
	width: 100%;
	height: 25%;
	background: linear-gradient(#00545d, #000729);
	color: white;
	text-align: center;
}